
<html>
<head>
  <title></title>
</head>
<body>
  <h1>In his house at Rlyeh, dead Cthulhu waits dreaming. Phnglui mglwnafh Cthulhu Rlyeh wgahnagl fhtagn!</h1>
  <form action="/names" method="post">
    <div>
      <label for="name">Player One</label>
      <input type="text" name="player_1_name">
    </div>
    <div>
      <label for="name">Player Two</label>
      <input type="text" name="player_2_name">
    </div>
    <div>
      <input type="submit" value="Fight!">
    </div>
  </form>
</body>
</html>