
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1><%= @player_1_name %> and <%= @player_2_name %>, you are doomed!</h1>
  <h2><%= @player_2_name%>: 60 HP</h2>
  <form action="/attackp2" method="post">
    <div>
      <input type="submit" value="attack p2">
    </div>
  </form>
  <!-- <% if @attackp2 == true %>
  <h2>attack confirmed</h2>
  <% end %> -->
</body>
</html>
